h1 { font-family: Nunito; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h2 { font-family: Nunito; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

.Carlos{
background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.Mikias{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;

}

.Tyler{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.Ray{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.tenia{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}
