h1 { font-family: Nunito; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h2 { font-family: Nunito; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

body{
background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}
.Carlos{
background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.Mikias{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;

}

.Tyler{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.Ray{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}

.tenia{
  background-color: red;
height: 150px;
width: 150px;
margin: 25px;
display: inline-block;
box-shadow: 10px 10px #00000099;
}
