
*{
  margin: 0;
  padding: 0;
  /* background: url('background.jpg'); */
}

@font-face
{
font-family: myFancyFont;
src: url('blender_pro_medium.otf'),
url('blender_pro_medium.otf');
}

body {
  /* background: url('bac.jpg') no-repeat center center fixed; */

   /**#161616;**/
  font-family: myFancyFont;
}


.here_lies_the_nav{
  width: 1024px;
  background-color:#020006;
  position:fixed;
  overflow: hidden;
  margin-left:120px;
  font-family: myFancyFont;
  top:0;
  left:0;
}
.here_lies_the_nav a {
  float: right;
  color:gray;
  padding: 35px 15px 15px 15px;
  text-decoration: none;
  font-size: 17px;
}
.here_lies_the_nav a:hover{
  color:#fff;
}

.left_nav{
  width:33.33%;
  float: left;
}
.left_nav a{
  float: left;
}

/* left bar style ends here */

.middle_nav{
  width:33.33%;
  float:left;
  text-align: center;
}



.my_logo{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  transition: .5s;
  animation: falldown 30s infinite linear;
}
h1.head_one{
    color: #fff;
    width:100%;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
  }

.right_nav{
  width:33.33%;
  float:right;
}

.here_lies_background_video{
  width: 100%;
  height:700px;
  background-color: #fff;
  top:0;
  left:0;
}
#back_video{
  width: 100%;
  height:100%;
  pointer-events: none;
}

#here_lies_pokemon{
    width: 1024px;
    height:610px;
    margin: auto;
    transition: .5s;
    background-color:dodgerblue;
}

@keyframes fadeBody {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.inner_div{
  width: 1024px;
  height:395px;
  margin: auto;
  /* background-color:#fff; */
  text-align: justify;

  animation: fadeBody 2s linear;
}
/* Left side poke_spec */
.left_poke{
  width: 30%;
  height:100%;
  margin:auto;
  float: left;
  /* background-color: rgba(230,23,0, 0.5); */
}


#left_image{
  width:350px;
  height:350px;
  margin: auto;
  transform: rotate(-20deg);
  transition: 0.5s;
  margin-left:-50px;
  opacity:1;
  animation: slideInLeft 1s linear;
  margin-bottom:-20px;
}
@keyframes slideInLeft {
  0%{
    opacity: 0;
    margin-left: -300px;
  }
  100%{
        opacity:1;
        margin-left:-50px;
      }
}
/* middle poke_spec */
#middle_poke{
  width: 40%;
  height:100%;
  margin:auto;
  float: left;
  transition: 0.5s;
  border-radius: 15px;
  /* background-color: lightgreen; */
  /* //020006 */
  animation: hovered 5s linear;
}

#player_name{
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  margin: 0px 0px 0px 150px;
  position: absolute;
  animation: showMessage .5s linear;
  text-shadow: 2px .2px rgba(255, 255, 255, 0.5);
}
@keyframes showMessage{
  0%{
    margin-top: 50px;
    opacity: 0;
  }
  100%{
    margin-top: 0px;
    opacity: 1;
  }
}
/*  styling for pokemon name*/
#pokemon_name{
  font-style: italic;
  font-weight: bold;
  letter-spacing:2px;
  text-align: center;
  font-size: 56px;
  text-shadow: 2px 2px #fff;
}
/* div for 3d animation */
.sketchfab{
  width:305px;
  height: 305px;
  border-radius: 50%;
  margin: auto;
	overflow:hidden;
  position: relative;
  margin-top:0px;
}
/* 3d animation */
#poke_image{
  	width: 100%;
  	height: 100%;
    position: absolute;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5);

}
@keyframes falldown{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes rotateGlow {
  0%{
    transform: rotate(0);
    transform-origin: center;
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: rotate(180deg);
    transform-origin: center;
    animation-timing-function: ease-in-out;
  }
  100%{
    transform: rotate(360deg);
    transform-origin: center;
    animation-timing-function: ease-in-out;
  }
}
/* #preview_image{
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: pink;
} */

/* @keyframes hovered {
  50%{
      box-shadow: 0px 6px rgba(0, 0, 0, 0.5);
  }
  100%{
    box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  }

}
/* #invalidated{
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
  font-family: monospace;
} */
/* .poke_shadow{
  width: 100px;
  height: 10px;
  background-color: purple;
  transition: 0.5s;
  margin-left: 125px;
  margin-top: 30px;
  border-radius: 5px;
  animation: movearound 2s infinite linear;
} */
/* //bar that moves around */

/* @keyframes movearound {
  50%{
    margin-left:275px;
    background-color: purple;
  }
  100%{
    margin-left:125px;
    background-color: purple;
  }
} */


/* Right side poke_spec */
.right_poke{
  width: 30%;
  height:100%;
  margin:auto;
  float: left;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,26,51,1);
}
#right_para{
  padding:10px;
  margin: 50px;
  text-align: center;
  font-family: myFancyFont;
  color: #fff;
  border-radius:15px;
  background-color: rgba(0,0,0,0.5);
}
.upper_style, .lower_style{
  width: 100%;
  height: 40%;
}

#upper_heading{
  width: 100%;
  height:20%;
  color: #3ac2ff;
}
#lower_icon{
  width:100%;
  height:20%;
}
#head_left{
  width:40%;
  height:35px;
  float:left;
  padding: 20px 0px 0px 20px;
}
#role_icon{
  width:40%;
  height:25px;
  float:left;
  padding: 5px 0px 0px 20px;
}
#head_right{
  width:40%;
  height:35px;
  float:right;
  padding: 20px 20px 0px 0px;
  text-align: right;
}
#health_icon{
  width:40%;
  height:25px;
  float:right;
  text-align: right;
  padding: 5px 40px 0px 0px;
}
#second_attribute{
  width: 100%;
  height:70%;
  margin: auto;
  text-align: center;
}
#attack_attribute{
  margin: 0px 0px 10px 0px;
  color: #3ac2ff;
}
#lower_style_heading{
  margin: 0px 0px 5px 20px;
  color: #3ac2ff;
}
#ability_icon{
  width: 100%;
  height: 50px;
  margin: 0px 0px 0px 25px;
  text-align: center;
}
#ability_one, #ability_two, #ability_three{
  width:15.5%;
  height: 95%;
  border-radius: 50%;
  text-align: center;
  background-color: #020006;
  border: 2px solid gray;
  transition: .2s;
  margin-left:20px;
  margin-right: 10px;
  float: left;
}
/* #ability_one:hover, #ability_two:hover, #ability_three:hover{
  width:20%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: #020006;
  transition: .2s;
  border: 2px solid gray;
  margin: auto;
  margin-left:35px;
  margin-right: 20px;
  float: left;
} */


#ability_one:hover, #ability_two:hover, #ability_three:hover{
  width:16.5%;
  height: 100%;
}
#ability_one:hover{
  margin-left: 5px;
}
#ability_two:hover{
  margin-top: -15px;
}
#ability_three:hover{
  margin-left: 25px;
}
#one, #two, #three{
  width:30px;
  height:30px;
  margin-top:15px;
}
#pokemon_ability{
  text-align:center;
  margin-top:15px;
}
#ability_summary{
  transition: .5s;
}
@keyframes comeSlow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.button_on_top{
  width: 150px;
  height:40px;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background-color: #ffae1a;
  border-radius: 5px;
  outline:none;
  margin-left: 35%;
  font-family: monospace;
  font-size: 14px;
  position: absolute;
  text-align: center;
  transition: 0.5s;
  margin-top:-20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  animation: fadeBody 2s linear;
}

.button_on_top:hover{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.second_div{
  width: 1024px;
  height: 115px;
  margin: auto;
  background-color: #FDFDFD;
  animation: fadeBody 2s linear;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

/* iPhone 5SE */
/* @media screen and (min-width: 320px) and (max-width:359px) {
   body{
      width: 320px;
      font-size: 12px;
    }
    .here_lies_the_nav{
      height: 50px;
    }
    #here_lies_pokemon{
      width: 100%;
      height: 320px;
    }
    .left_poke{
      width: 25%;
      height: 200px;
    }
    #big_poke{
      width: 50%;
      height: 200px;
    }
    .sketchfab{
      width:100%;
      height:auto
    }
    .right_poke{
      width: 25%;
      height: 200px;
    }
    .second_div{
      background-color: purple;
    }

    .div_on_top{
    background-color: dodgerblue;
    text-align: center;
    }
 } */
